
.tarjeta {
  border: 2px solid #333;      
  padding: 15px;                
  margin: 15px auto;            
  background-color: #f9f9f9;    
  border-radius: 8px;          
  max-width: 600px;            
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1); 
}


.tarjeta h2 {
  color: #004080;               
  margin-bottom: 10px;
}


.tarjeta .carnet {
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}


.tarjeta .descripcion p {
  margin: 5px 0;
  color: #555;
  line-height: 1.4;
}


.tarjeta .descripcion strong {
  color: #000;
}